$colors: (
  bv-white: #ffffff,
  bv-primary: #0087db,
  bv-success: #497949,
  bv-error: #a94949,
  bv-warning: #c4a949,
  bv-grey-100: #f5f5f5,
  bv-grey-200: #eaeaea,
  bv-grey-500: #b3b3b3,
  bv-grey-800: #4b4b4b,
  bv-grey-900: #2c2c2c,
  bv-inverse-hover: #fbfbfb,
  bv-outline-hover: #cee2f8,
  bv-overlay-65: rgba(0, 0, 0, 0.65),
  bv-overlay-80: rgba(0, 0, 0, 0.8),
  bv-toast-border-color: rgba(0, 0, 0, 0.1),
  main-red: #c10000,
  main-red-alt: rgba(193, 0, 0, 0.6),
  main-black: #4f4e4e,
  main-black-bold: #3a3a3a,
  txt-green: #068503
);

$fonts: (
  // bv-montserrat: "Montserrat",
    main-poppins: "Poppins"
);

$bv-shadow: rgba(0, 0, 0, 0.15);
$eu-bg-image-max-height: 7.1875rem !default;

$border-radius: 0.375rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-sm: 0.35rem !default;
$border-radius-xs: 0.25rem;
$transition-duration: 250ms;
// Easings
$ease-in-out-circ: cubic-bezier(0.27, 0.01, 0.38, 1.06);

$eu-avatar-max-width: 7.5rem !default;

$eu-avatar-change-font-size: 1.875rem !default;
$eu-avatar-change-transition: all $transition-duration $ease-in-out-circ !default;
$eu-avatar-change-background: rgba(0, 0, 0, 0.4) !default;
$border-color: #e1e5eb;
$body-background: #f5f6f8 !default;
$reagent-gray: #818ea3 !default;
$text-light-color: $reagent-gray !default;

// Listing Variables
$lst-info-max-width: 16em; // (used in ListingInfoCard.vue, _listings.scss)
