// Sidebar
.sidebar {
  width: $sidebar-collapsed-width;
  min-height: 100vh;
  background-color: color(main-red) !important;
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  z-index: 0;

  &__logo {
    @media screen and (min-width: 769px) {
      margin-right: auto;
    }
  }

  .navbar-items {
    margin-top: 2.75em;

    @media screen and (max-width: 599px) {
      margin-top: 0.725em;
    }
  }

  .navbar-username {
    margin-top: 1.125em;
    margin-bottom: 0.275em;
    text-align: center;
    color: white;
  }

  .nav-item {
    position: relative;
    margin-top: 1.125em;

    @media screen and (max-width: 768px) {
      // padding-left: 1em !important;
      padding-left: 1.25em !important;
    }

    @media screen and (max-width: 599px) {
      // margin-top: 0.625em !important;
      margin-top: 0.325em;
    }

    .icon {
      margin-right: 0.675em;
    }

    &:last-child {
      margin-bottom: 1rem;
    }
    .nav-link {
      text-align: center;
      padding: 0.75rem 1rem;
      width: $sidebar-collapsed-width;
      span {
        font-size: 0.65rem;
        display: block;
      }
    }
    &.active {
      .nav-link {
        font-weight: 700;
      }
    }
    // Accordion
    .collapse {
      position: absolute;
      left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
      z-index: 1;
      top: 2px;
      // Grow In Animation
      //@extend .animated--grow-in;
      .collapse-inner {
        border-radius: $border-radius;
        box-shadow: $box-shadow;
      }
    }
    .collapsing {
      display: none;
      transition: none;
    }
    .collapse,
    .collapsing {
      .collapse-inner {
        padding: 0.5rem 0;
        min-width: 10rem;
        font-size: $dropdown-font-size;
        margin: 0 0 1rem 0;
        .collapse-header {
          margin: 0;
          white-space: nowrap;
          padding: 0.5rem 1.5rem;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 0.65rem;
          color: $gray-500;
        }
        .collapse-item {
          padding: 0.5rem 1rem;
          margin: 0 0.5rem;
          display: block;
          color: $gray-900;
          text-decoration: none;
          border-radius: $border-radius;
          white-space: nowrap;
          &:hover {
            background-color: $gray-200;
          }
          &:active {
            background-color: $gray-300;
          }
          &.active {
            color: $primary;
            font-weight: 700;
          }
        }
      }
    }
  }
  #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    &::after {
      font-weight: 900;
      content: "\f104";
      font-family: "Font Awesome 5 Free";
      margin-right: 0.1rem;
    }
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }
  &.toggled {
    width: 0 !important;
    overflow: hidden;
    #sidebarToggle::after {
      content: "\f105";
      font-family: "Font Awesome 5 Free";
      margin-left: 0.25rem;
    }
  }
  .sidebar-brand {
    height: $topbar-base-height;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;

    .sidebar-brand-icon i {
      font-size: 2rem;
    }
    .sidebar-brand-text {
      display: none;
    }
  }
  hr.sidebar-divider {
    margin: 0 1rem 1rem;
  }
  .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: 0.65rem;
    //@extend .text-uppercase;
  }
}

// Sidebar Color Variants

// Sidebar Light
.sidebar-light {
  .sidebar-brand {
    color: $gray-700;
  }
  hr.sidebar-divider {
    border-top: 1px solid $gray-200;
  }
  .sidebar-heading {
    color: $gray-500;
  }
  .nav-item {
    .nav-link {
      color: $gray-600;
      i {
        color: $gray-400;
      }
      &:active,
      &:focus,
      &:hover {
        color: $gray-700;
        i {
          color: $gray-700;
        }
      }
      // Accordion
      &[data-toggle="collapse"]::after {
        color: $gray-500;
      }
    }
    &.active {
      .nav-link {
        color: $gray-700;
        i {
          color: $gray-700;
        }
      }
    }
  }
  // Color the sidebar toggler
  #sidebarToggle {
    background-color: $gray-200;
    &::after {
      color: $gray-500;
    }
    &:hover {
      background-color: $gray-300;
    }
  }
}

// Sidebar Dark
.sidebar-dark {
  .sidebar-brand {
    color: $white;
  }
  hr.sidebar-divider {
    border-top: 1px solid fade-out($white, 0.85);
  }
  .sidebar-heading {
    color: fade-out($white, 0.6);
  }
  .nav-item {
    .nav-link {
      color: fade-out($white, 0.2);
      i {
        color: fade-out($white, 0.7);
      }
      &:active,
      &:focus,
      &:hover {
        color: $white;
        i {
          color: $white;
        }
      }
      // Accordion
      &[data-toggle="collapse"]::after {
        color: fade-out($white, 0.5);
      }
    }
    &.active {
      .nav-link {
        color: $white;
        i {
          color: $white;
        }
      }
    }
  }
  // Color the sidebar toggler
  #sidebarToggle {
    background-color: fade-out($white, 0.8);
    &::after {
      color: fade-out($white, 0.5);
    }
    &:hover {
      background-color: fade-out($white, 0.75);
    }
  }
  &.toggled {
    #sidebarToggle::after {
      color: fade-out($white, 0.5);
    }
  }
}

@media screen and (max-width: 768px) {
  // disabling the sidebar on potrait tablets and below
  #accordionSidebar {
    position: absolute;
    z-index: 13;
    min-height: 100vh;

    &:not(.responsive-sidebar) {
      display: none;
    }
    &:active {
      display: block;
    }
  }

  // #accordionSidebar {
  // position: absolute;
  // z-index: 15;
  // min-height: 100vh;
  // max-width: 65vw;
  // transition: transform 0.5s ease-in, opacity 0.5s ease-in;

  // &:not(.responsive-sidebar) {
  //   transform: translateX(-110%);
  //   opacity: 0;
  // }
  // }

  .responsive-sidebar {
    box-shadow: 0.2rem 0 0.325rem 0 rgba(0, 0, 0, 0.7) !important;
    animation: menu-enter 0.5s ease-in;
    // transform: translateX(0);
    // opacity: 1;

    + #content-wrapper {
      .block-1 {
        transform-origin: 15% 0%;
        transform: rotate(45deg);
      }

      .block-2 {
        opacity: 0;
        transform: translateX(-200%);
      }

      .block-3 {
        transform-origin: 0% 0%;
        transform: rotate(-45deg);
      }
    }
  }

  @keyframes menu-enter {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

// @media screen and (max-width: 599px) {
//   #accordionSidebar {
//     max-width: 16em;
//   }
// }

@include breakpoint(mobile-only) {
  #accordionSidebar {
    max-width: 16em;
  }
}
