.portfolio-container {
  // border: 1px solid red;
  min-height: 80vh;
}

.inv-plan {
  &__title {
    font-size: 1.25em !important;
    font-weight: 600;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__graph {
    flex: 1;
    max-height: 30em;
    border-radius: 0.5rem;
    background: #f5f5f5;
  }
}

.inv-trans {
  // border: 1px solid color(main-red);
  flex: 1.25;
  color: #000;

  &__link {
    color: inherit;
  }
}
