/* SIGN UP */

.container-c {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sign-in-form h2 {
  font-size: 30px;
  color: color(main-red);
  font-weight: 600;
}

.sign-in-form p {
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  margin-bottom: 40px;
}

.sign-in-form a {
  text-align: right;
  text-decoration: none !important;
  font-size: 13px;
}

.sign-up-form h2 {
  font-size: 30px;
  color: color(main-red);
  font-weight: 600;
}

.sign-up-form p {
  font-size: 16px;
  font-weight: 600;
  color: #393939;
  margin-bottom: 40px;
}

.sign-up-form a {
  text-align: right;
  text-decoration: none !important;
  font-size: 13px;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 80%;
  width: 50%;
  height: 55%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

/*Input focus*/

div.sign-up-form {
  opacity: 0;
  z-index: 1;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 0rem 10rem 0rem 0rem;
  // height: 100%;
  transition: all 0.2s 0.7s;
  // overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

div.sign-in-form {
  z-index: 2;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 0rem 5rem;
  margin-top: -100px;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

// .input-field {
//   max-width: 380px;
//   width: 100%;
//   background-color: #f0f0f0;
//   margin: 10px 0;
//   height: 55px;
//   border-radius: 55px;
//   display: grid;
//   grid-template-columns: 15% 85%;
//   padding: 0 0.4rem;
//   position: relative;
// }

// .input-field i {
//   text-align: center;
//   line-height: 55px;
//   color: #acacac;
//   transition: 0.5s;
//   font-size: 1.1rem;
// }

// .input-field input {
//   background: none;
//   outline: none;
//   border: none;
//   line-height: 1;
//   font-weight: 600;
//   font-size: 1.1rem;
//   color: #333;
// }

// .input-field input::placeholder {
//   color: #aaa;
//   font-weight: 500;
// }

.panel .content .btn {
  /* background-color: #5995fd;
  border: none; */
  outline: none;
  height: 49px;
  border-radius: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.panel .content .btn:hover {
  background-color: #ffffff;
  color: #c10000;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container-c:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  /* background-image: linear-gradient(-45deg, #cc0000 0%, #ed1c24 100%); */
  background-color: #c10000;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image1 {
  width: 100%;
  position: relative;
  left: 45%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}
.image2 {
  width: 100%;
  position: relative;
  left: -45%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image2,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container-c.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-c.sign-up-mode .left-panel .image1,
.container-c.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container-c.sign-up-mode .signin-signup {
  left: 25%;
}

.container-c.sign-up-mode div.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container-c.sign-up-mode div.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container-c.sign-up-mode .right-panel .image2,
.container-c.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container-c.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-c.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container-c {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 90%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .signin-signup,
  .container-c.sign-up-mode .signin-signup {
    left: 50%;
  }
  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }
  .left-panel {
    grid-row: 1 / 2;
  }
  .image1 {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  .image2 {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  .panel .content {
    padding-right: 15%;
    margin-top: 20px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
    margin-bottom: 0 !important;
  }
  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .container-c:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .container-c.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 21%;
    right: initial;
  }
  .container-c.sign-up-mode .left-panel .image1,
  .container-c.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }
  .container-c.sign-up-mode .right-panel .image2,
  .container-c.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }
  .right-panel .image2,
  .right-panel .content {
    transform: translateY(300px);
  }
  .container-c.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
  .sign-logo {
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .sign-up-form p {
    font-size: 16px;
    font-weight: 600;
    color: #393939;
    margin-bottom: 20px;
  }
  .form__div {
    position: relative;
    height: 48px;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }
  .image1 {
    display: none;
  }
  .image2 {
    display: none;
  }
  .panel .content {
    padding: 0;
  }
  .container-c {
    padding: 1.5rem;
  }
  .container-c:before {
    bottom: 72%;
    left: 50%;
  }
  .container-c.sign-up-mode:before {
    bottom: 21%;
    left: 50%;
  }
  div.sign-up-form {
    padding: 0rem 2rem;
  }
}

.form__div {
  position: relative;
  height: 48px;
  margin-bottom: 2.5rem;
}

.form__input {
  // background-color: color(bv-grey-100);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  border: 1px solid #efb9b9;
  color: #999999;
  font-family: fonts(main-poppins), serif;
  line-height: 1.3;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  background: none;
  z-index: 1;
}

.label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: #80868b;
  font-size: 1rem;
  transition: 0.3s;
}

.is-invalid {
  border: 1px solid color(main-red);
}

.form__input:focus + .label {
  top: -0.5rem;
  left: 0.8rem;
  color: color(main-red);
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/

.form__input:not(:placeholder-shown).form__input:not(:focus) + .label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/

.form__input:focus {
  border: 1.5px solid color(main-red);
}
