:root {
  --font-sm: 10px;
  --font-normal: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --myyinvest-red: #c10000;
  --myyinvest-danger: red;
  --myyinvest-green: green;
  --myyinvest-red-fade: #ff8484;
  --myyinvest-white: #ffffff;
  --myyinvest-black: #000000;
  --topnav-height: 60px;
  --base-size: 20px;
}

body,
html {
  scroll-behavior: smooth;
  font-size: var(--font-normal);
}

@media only screen and (min-width: 1600px) {
  :root {
    --font-sm: 14px;
    --font-normal: 16px;
    --font-md: 18px;
    --font-lg: 20px;
  }
}

@media only screen and (min-width: 1824px) {
  :root {
    --font-sm: 18px;
    --font-normal: 20px;
    --font-md: 22px;
    --font-lg: 24px;
  }
}
