@import url("./base.css");

*:focus:not(:-moz-focusring) {
  outline: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

.main-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

div.body {
  margin: 0;
  border: 0;
  font-size: var(--font-normal);
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
}

nav.top-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: var(--topnav-height);
  background-color: var(--myyinvest-white);
  box-shadow: 0 1px 4px 0 rgba(158, 157, 157, 0.5);
}

main {
  max-height: 50vh !important;
}

main nav.side-nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: calc(100vh - (1.01 * var(--topnav-height)));
  color: var(--myyinvest-red);
  box-shadow: 1px 0 2px 0 rgba(158, 157, 157, 0.5);
  font-weight: 600;
  background-image: url("../images/nav-background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  -webkit-background-origin: border-box;
  -moz-background-origin: content-box;
  background-position: 0 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main nav.side-nav::-webkit-scrollbar {
  display: none;
}

main nav.side-nav::-webkit-scrollbar {
  display: none;
}

.main-contents {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 20px;
}

main article {
  padding: 10px;
  box-shadow: 0 0 2px 0 gray;
  border-radius: 10px;
}

main article .content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--myyinvest-red);
  border-radius: 10px;
  overflow-y: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main article .content-wrapper::-webkit-scrollbar {
  display: none;
}

.section-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--base-size);
}

.main-title {
  margin-bottom: var(--base-size);
  font-size: var(--font-xxl) !important;
  color: var(--myyinvest-red);
  font-weight: 600;
}
